* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.containar {
    width: 100%;
    height: 4rem;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containar h1 {
    color: #694bff;
}

.f-div {
    margin-top: 2rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

input::file-selector-button {
    font-weight: bold;
    color: white;
    margin: 1rem;
    padding: 1rem;
    border:none;
    background-color: rgb(31, 199, 255);
    border: 2px solid rgb(0, 153, 255);
    outline: none;
    border-radius: 8px;
    cursor: pointer;
}


input::file-selector-button:hover {
    background-color: rgb(0, 191, 255);
}

.uploadbtm{
    margin: 1rem;
    padding:0.8rem 1rem;
    outline: none;
    border: none;
    color: white;
    background-color: rgb(178, 95, 255);
    border: 2px solid #8400ff;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.uploadbtm:hover{
    background-color: blueviolet;
}

.sdiv{
    width: 100%;
    padding: 1rem;
    margin-top:1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.downloadBtn{
    text-decoration: none;
    margin: 1rem;
    padding:0.8rem 1rem;
    outline: none;
    border: none;
    color: white;
    background-color: rgb(0, 255, 110);
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.downloadBtn:hover{
    background-color: rgb(0, 216, 61);
}

.massege{
    /* width: 100%; */
    margin: 2rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    background-color: lightgreen;
    color: black;
}

/* error message */
.errormassege{
    margin: 2rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    background-color: rgb(255, 116, 116);
    color: black;
}